<html>
    <head>
        <title>
            The Wheel Deal:Booking Confirmed
        </title>
        <style>
            body{
                background-color: orange;
            }
            .div1{
                width: 700px;
                height: 700px;
                background-color: white;
                margin-left: 25%;
            }

            #book1{
                text-align: center;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: bolder;
            }

            #book2{
                margin-left: 40%;
                width: 20%;
            }

            #book3{
                text-align: center;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: bolder;
            }

            .div2{
                background-color: orange;
                width: 500px;
                height: 300px;
                margin-left: 13%;
                margin-top: 2%;
            }

            p{
                margin-left: 10%;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: white;
                font-weight: bolder;
            }


        </style>
    </head>
    <body>
        <div class="div1">
        <h1 id="book1">Your Payment is done <br>successfully</h1>
        <img id="book2" src="https://media.tenor.com/0AVbKGY_MxMAAAAM/check-mark-verified.gif"><br><br>
        <h2 id="book3">Thanks For Choosing The Wheel Deal , we hope you have a good travel experience!!</h2>
        <div class="div2"><br>
            <p>Driver Name: <%=drivername%></p>
            <p>Driver Phone Number:<%=drivernum%></p>
            <p>Car Type: <%=cartype%></p>
            <p>Car Number:<%=carnum%></p>
            <p>Pickup Location:<%=city%> </p>
            <p>Drop Location:<%=dcity%></p>
            <p>Date:<%=date%></p>
        </div>
    </div>
    </body>
</html>
